/* Custom Fonts */
@font-face {
	font-family: Cartoon;
	src: url(fonts/HappyMonkey.ttf)
}
/* Other Code */
body {
	background: url(images/db-bg.png);
	background-size: cover;
	overflow: auto;
}
#normal {
	font-family: Cartoon;
}

.header {
	text-align: center;
	background-color: white;
	width: 600px;
	height: 50px;
	font-weight: bold;
	transform: translateY(-8px)
	translateX(-10px);
	overflow: hidden;
}

.title {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: bold;
	color: white;
	
}

.iconSmall {
	height: 18px;
	width: 18px;
	transform: translateY(2px);
	margin-right: 5px;
}

div.wavy {
	text-decoration-style: wavy;
	width: 600px;
	background-color: gray;
	height: 300px;
	transform: translateY(50px);
}
.icon {
	height: 36px;
	width: 36px;
	margin-right: 5px;
	transform: translateY(6px);
}
#highlight {
	font-weight: bold;
	color: navy;
	float: left;
	margin-left: 3px;
}
#button {
	font-family: Cartoon;
	background: transparent;
	min-height: 70px;
	min-width: 230px;
	border-radius: 10px;
	border-style: solid;
	font-size: 36px;
	color: white;
	text-align: center;
	transform: translateX(100px)
	translateY(30px);
}
